$uba-red: #D51709;
$uba-red-dark: #AA0000 ;

$primary: $uba-red;
$primary-dark: $uba-red-dark;
$secondary: #E4A79D;
$bg-card: #f4f5fb;
$bg-input: #F5F6FD;

$text-color: rgba(0, 0, 0, 0.87);
$text-size:13px;